<!-- TEMPLATE -->
{% extends "vuetify_components/base.html" %}

<!-- TITLE -->
{% block title %}Image Comparator{% endblock %}

<!-- CSS -->
{% block custom_css %}
{% endblock %}



<!-- BODY -->
{% block content %}

<!-- Components -->
{% include 'vuetify_components/navbar.html' %}

<!-- Index Vue App -->
<div id="template_app">
    <v-app>
        <navbar-tag></navbar-tag>
      <v-main>
          <v-container>
            <h1>Compare App: [[ message ]]</h1>

            <v-row no-gutters>
              <v-col cols=12 sm=5>
                <v-img
                  lazy-src="https://via.placeholder.com/150"
                  max-height="250"
                  max-width="350"
                  src="https://via.placeholder.com/150"
                ></v-img>
              </v-col>

              <v-col cols=12 sm=5>
                <v-img
                  lazy-src="https://via.placeholder.com/150"
                  max-height="250"
                  max-width="350"
                  src="https://via.placeholder.com/150"
                ></v-img>
              </v-col>
            </v-row>




          </v-container>
      </v-main>
    </v-app>
</div>

{% endblock %}



{% block js_scripts %}

<script>

var template_app =new Vue({
    el: '#template_app',
    vuetify: new Vuetify(),

    data: () => ({
        message: 'This is a template app',
        compareTasks: [],
        currentTask: null,
    }),

    delimiters: ['[[',']]'],

    async mounted() {
        configuration = await this.getConfiguration()
        this.DNS = configuration.DNS;
        this.IMAGES_DB = configuration.IMAGES_DB;
        this.DB_PORT = configuration.DB_PORT;
        this.HTTP_PORT = configuration.HTTP_PORT;
        this.ADMIN_PARTY = configuration.ADMIN_PARTY;
        this.USER_INFO = configuration.USER_INFO;
        this.getTasks();
        // Need to get image compare list so we can get pair to display based on current_idx
    },

    computed: {
      // General
      URLS() {
          return {
              configuration: "/configuration",
              getCompareTasks: `http://${this.DNS}:${this.HTTP_PORT}/get_tasks/compare?username=${this.USER_INFO.username}`,
              getClassifyTasks: `http://${this.DNS}:${this.HTTP_PORT}/get_tasks/classify?username=${this.USER_INFO.username}`,
              getImageCompareListNames: `http://${this.DNS}:${this.HTTP_PORT}/get_image_compare_lists`,
              getImageClassifyListNames: `http://${this.DNS}:${this.HTTP_PORT}/get_image_classify_lists`,
              getImageGridListNames: `http://${this.DNS}:${this.HTTP_PORT}/get_image_grid_lists`,
              getImagePairListNames: `http://${this.DNS}:${this.HTTP_PORT}/get_image_pair_lists`
          }
      },
    },

    methods: {
        async getConfiguration() {
            // https://dmitripavlutin.com/javascript-fetch-async-await/
            const response = await fetch('/configuration');
            if (!response.ok) {
                const message = `An error has occured: ${response.status}`;
                throw new Error(message);
            }
            const configuration = await response.json();
            return configuration;
        },

        getTasks() {
            console.log("getTasks")
            fetch(this.URLS.getCompareTasks)
                .then((response) => response.json())
                .then((data) => {
                    data.rows.forEach((v, i, a) => {
                        this.compareTasks.push(v)
                        if (this.currentTask === null){
                            this.currentTask = v
                        }else if(v.value.task_order < this.currentTask.value.task_order){
                            this.currentTask = v
                        }else if(v.value.task_order === this.currentTask.value.task_order){
                          alert("2 tasks have the same task order...contact Ben")
                        }
                    })
                    debugger;
                })
        },

    },


  })
</script>


{% endblock %}