<!-- TEMPLATE -->
{% extends "vuetify_components/base.html" %}

<!-- TITLE -->
{% block title %}Image Comparator - Dashboard{% endblock %}

<!-- CSS -->
{% block custom_css %}
{% endblock %}



<!-- BODY -->
{% block content %}

<!-- Components -->
{% include 'vuetify_components/navbar.html' %}

<!-- Index Vue App -->
<div id="main_dashboard">
    <v-app>
        <navbar-tag></navbar-tag>
      <v-main>
          <v-container>
            <h1>Main Dashboard [[ message ]]</h1>

            <h2>Image Lists (I think only admins should see lists):</h2>
            <h3>Classify Image Lists:</h3>
            <ul>
              <li v-for="item in classifyImageLists">
                [[ item.name ]]
              </li>
            </ul>
            <h3>Compare Image Lists:</h3>
            <ul>
              <li v-for="item in compareImageLists">
                [[ item.name ]]
              </li>
            </ul>
            <h2>Tasks:</h2>
            <h3>Classify Tasks:</h3>
            <ul>
              <li v-for="item in classifyTasks">
                [[ item.key ]]
              </li>
            </ul>
            <h3>Compare Tasks:</h3>
            <ul>
              <li v-for="item in compareTasks">
                App: [[ item.value.app ]]; List Name: [[ item.value.list_name ]]; Task Order: [[ item.value.task_order ]]
              </li>
            </ul>


          </v-container>
      </v-main>
    </v-app>
</div>

{% endblock %}



{% block js_scripts %}

<script>

var main_dashboard =new Vue({
    el: '#main_dashboard',
    vuetify: new Vuetify(),
    delimiters: ['[[',']]'],

    data: () => ({
        DNS: null,
        IMAGES_DB: null,
        DB_PORT: null,
        HTTP_PORT: null,
        ADMIN_PARTY: null,
        USER_INFO: null,
        message: '',
        classifyImageLists: [],
        compareImageLists: [],
        classifyTasks: [],
        compareTasks: [],
        tasks: []
    }),

    async mounted () {
      configuration = await this.getConfiguration()
      this.DNS = configuration.DNS;
      this.IMAGES_DB = configuration.IMAGES_DB;
      this.DB_PORT = configuration.DB_PORT;
      this.HTTP_PORT = configuration.HTTP_PORT;
      this.ADMIN_PARTY = configuration.ADMIN_PARTY;
      this.USER_INFO = configuration.USER_INFO;
      this.getImageLists();
      this.getTasks();
    },

    computed: {
      URLS() {
        return {
          configuration: "/configuration",
          getCompareLists: `http://${this.DNS}:${this.HTTP_PORT}/get_image_compare_lists`,
          getClassifyLists: `http://${this.DNS}:${this.HTTP_PORT}/get_image_classify_lists`,
          getCompareTasks: `http://${this.DNS}:${this.HTTP_PORT}/get_tasks/compare?username=${this.USER_INFO.username}`,
          getClassifyTasks: `http://${this.DNS}:${this.HTTP_PORT}/get_tasks/classify?username=${this.USER_INFO.username}`
        }
      }
    },
    methods: {
      async getConfiguration (){
        // https://dmitripavlutin.com/javascript-fetch-async-await/
        const response = await fetch('/configuration');
        if (!response.ok){
          const message = `An error has occured: ${response.status}`;
          throw new Error(message);
        }
        const configuration = await response.json();
        return configuration;
      },

      getImageLists () {
        console.log("getImageLists")
        fetch(this.URLS.getClassifyLists)
        .then((response) => response.json())
        .then((data) => {
          this.classifyImageLists.push({name: data.rows[0].key})
        })
        fetch(this.URLS.getCompareLists)
        .then((response) => response.json())
        .then((data) => {
          this.compareImageLists.push({name: data.rows[0].key})
        })
      },

      getTasks () {
        console.log("getTasks")
        fetch(this.URLS.getClassifyTasks)
        .then((response) => response.json())
        .then((data) => {
          //this.classifyTasks.push({name: data.rows[0].id})
          data.rows.forEach((v ,i ,a)=>{
            //debugger
            this.classifyTasks.push(v)
          })
        })
        fetch(this.URLS.getCompareTasks)
        .then((response) => response.json())
        .then((data) => {
          //debugger
            data.rows.forEach((v ,i ,a)=>{
            //debugger
            this.compareTasks.push(v)
          })
        })
      },
  }

  })
</script>


{% endblock %}