
<script type="text/template" id="navbar">

        <v-app-bar
        color="black accent-4"
        dense
        dark
        app
        >
            <v-toolbar-title>Home Are we logged in: [[ config.USER_INFO.logged_in ]]</v-toolbar-title>

            <v-spacer></v-spacer>
    
            <v-toolbar-title>Sign Up</v-toolbar-title>
            <v-toolbar-title>Login</v-toolbar-title>
            <!-- <v-toolbar-title v-if="logged_in">Logout</v-toolbar-title> -->

            <v-menu
            left
            bottom
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                    >
                    <v-icon>mdi-account</v-icon>
                    </v-btn>
                </template>
        
                <v-list>
                    <v-list-item
                    v-for="(menu_item, i) in menu_items"
                    :key="i"
                    @click="() => {}"
                    >
                    <v-list-item-title>
                        <v-btn
                        block
                        v-on:click="test(menu_item)"
                        >[[ menu_item ]]</v-btn>
                    </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

</script>

<script>
    Vue.component('navbar-tag', {
        template: '#navbar',
        data: function() {
            return { 
                URLS: {
                    "Sign Up": "/signup",
                    "Login": "/login",
                    "Logout": "/logout",
                },
                menu_items: ['Sign Up', 'Login', 'Logout'],
                config: {USER_INFO: {"logged_in":false} },
            }
        },
        delimiters: ['[[',']]'],
        beforeCreate() {},
        created() {},
        beforeMount() {
            
        },
        mounted() {
            this.get_config()
        },
        methods: {
            get_config: function (){
                fetch('/configuration')
                .then((response) => response.json())
                .then((data) => {
                    this.config = data
                });
            },
            test: function (nav_button){
                console.log(nav_button)
                console.log(this.URLS[nav_button])
                window.location.href = this.URLS[nav_button];
                // window.open(this.URLS[nav_button])
            }
        },
    });
</script>