
<script type="text/template" id="slider-chart">
    <div>
        [[ title ]]
        <canvas ref="myChart"></canvas>
    </div>
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
// this is the JS file, eg app.js
Vue.component('slider-chart', {
    template: '#slider-chart',
    props: ["rgb_values"],
    data() {
        return { 
            title: 'slider-chart',
            chart: null
        }
    },
    delimiters: ['[[',']]'],
    mounted() {
        this.$nextTick(() => {
            this.createChart();
        });
    },
    watch: {
        rgb_values: function() {
            // Destroy the existing chart if it exists
            this.removeData(this.chart)
            const DATA_COUNT = 4;
            const labels = [];
            for (let i = 0; i < DATA_COUNT; ++i) {
                labels.push(i.toString());
            }
            const red_datapoints = this.rgb_values[0];
            const green_datapoints = this.rgb_values[1];
            const blue_datapoints = this.rgb_values[2];
            const datapoints = [red_datapoints, green_datapoints, blue_datapoints]
            this.addData(this.chart, labels, datapoints)
        }
    },
    methods: {
        createChart() {
            // DOM
            const ctx = this.$refs.myChart.getContext('2d');
            // Define your chart data and options
            const DATA_COUNT = 4;
            const labels = [];
            for (let i = 0; i < DATA_COUNT; ++i) {
            labels.push(i.toString());
            }
            // const datapoints = [64, 128, 192, 255];
            const red_datapoints = this.rgb_values[0];
            const green_datapoints = this.rgb_values[1];
            const blue_datapoints = this.rgb_values[2];
            const data = {
            labels: labels,
            datasets: [
                {
                label: 'Red Avg. Pixel Intensity',
                data: red_datapoints,
                borderColor: Chart.helpers.color('red').rgbString(),
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
                }, 
                {
                label: 'Green Avg. Pixel Intensity',
                data: green_datapoints,
                borderColor: Chart.helpers.color('green').rgbString(),
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
                }, 
                {
                label: 'Blue Avg. Pixel Intensity',
                data: blue_datapoints,
                borderColor: Chart.helpers.color('blue').rgbString(),
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
                }
            ]
            };

            // Options
            const options = {
                responsive: true,
                plugins: {
                title: {
                    display: true,
                    text: 'Line Chart - Cubic Interpolation Mode'
                },
                },
                interaction: {
                intersect: false,
                },
                scales: {
                x: {
                    display: true,
                    title: {
                    display: true
                    }
                },
                y: {
                    display: true,
                    title: {
                    display: true,
                    text: 'Value'
                    },
                    suggestedMin: 0,
                    suggestedMax: 300
                }
                }
            }
            // Create the chart using Chart.js
            this.chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options,
            });

        },
        addData(chart, labels, data) {
            chart.data.labels = labels
            chart.data.datasets.forEach((dataset,i,a) => {
                //dataset.data.push(data);
                dataset.data = data[i]
            });
            chart.update();
        },
        removeData(chart) {
            //chart.data.labels.pop();
            chart.data.labels = null
            chart.data.datasets.forEach((dataset) => {
                //dataset.data.pop();
                dataset.data = null
            });
            chart.update();
        }
         
    },
});
</script>