<!-- TEMPLATE -->
{% extends "vuetify_components/base.html" %}

<!-- TITLE -->
{% block title %}Image Slider{% endblock %}

<!-- CSS -->
{% block custom_css %}
<style>
  .parent {
    position: relative;
    top: 0;
    left: 0;
    background-color: black;
    width: 512px;
    height: 512px;
  }
  
  .imageHidden {
    /* position: relative;
    top: 0;
    left: 0;
    border: 1px red solid; */
    display: none;
  }
  
  .imageShown {
    width: 512px;
    height: 512px;
    /* position: absolute;
    top: 0px;
    left: 0px;
    border: 1px green solid; */
  }

  .imageROI {
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
    /* height: 100%; */
    border: 1px rgb(88, 160, 154) solid;
  }
</style>
{% endblock %}



<!-- BODY -->
{% block content %}

<!-- Components -->
{% include 'vuetify_components/navbar.html' %}
{% include 'vuetify_components/slider-chart.html' %}

<!-- Index Vue App -->
<div id="slider_app">
    <v-app>
      <navbar-tag></navbar-tag>
      <v-main v-if="dataReady">
          <v-container fluid>
            <h2>
              slider Task for Image List [[ list_name ]] | On Collection
              <span
                v-if="current_deck.length != 0"
                >[[ this.task.value.current_idx + 1 ]] of [[ this.current_deck.length ]]
              </span>
            </h2>
            <p>[[ time_point_message ]]</p>

            <!-- Alert -->
            <v-alert
              title="Info"
              color="blue"
              elevation="4"
              type="info"
              v-if="alert_info != null"
            >
              [[ alert_info ]]
            </v-alert>
            <v-alert
              title="Error"
              color="red"
              elevation="4"
              type="error"
              v-if="alert_error != null"
            >
              [[ alert_error ]]
            </v-alert>


            <v-row>
              <!-- Col for images -->
              <v-col
                cols="12"
                md="5"
              >
                <!-- Div parent for two images -->
                <div class="ma-0 parent">
                  <canvas
                    v-for="current_image in collection"
                    :ref="'image_' + current_image.index"
                    :class="classes_for_images[current_image.index]"
                    :id="'myCanvas_' + current_image.index">
                  </canvas>
                  <canvas
                    id="imageROI"
                    ref="image_roi"
                    width="512px"
                    height="512px"
                    class="imageROI">
                  </canvas>
                </div>
              </v-col>

              <!-- Col for tool_set -->
              <v-col
              cols="12"
              md="3"
              >
                <!-- Tools -->
                <!--https://codepen.io/zed_at_home/pen/LYpWyEM-->
                <v-form v-if="tool_set" action="/task_result" method="post" ref="form">

                  <v-row no-gutters>
                    <v-col
                    cols="12"
                    md="6"
                    >
                      <div
                        v-for="(checkbox_category, index_checkbox_category) in tool_set.checkbox_categories"
                        :key="checkbox_category['category_id']"
                      >
                      <p>[[ checkbox_category['category_id'] ]]</p>

                      <v-checkbox
                        v-for="(checkbox, indexCheckbox) in checkbox_category['checkboxes']"
                        :key="checkbox['checkbox_id']"
                        v-model="result.checkbox_categories[index_checkbox_category].checkboxes[indexCheckbox].checked"
                        :label="`${result.checkbox_categories[index_checkbox_category].checkboxes[indexCheckbox].checked.toString()}`"
                        color="red"
                        hide-details
                      ></v-checkbox>

                      </div>

                      <v-radio-group
                        v-for="(radio_button_category, index_radio_category) in tool_set.radio_button_categories"
                        :key="radio_button_category['category_id']"
                        v-model="result.radio_button_categories[index_radio_category].selected"
                      >
                        <p>[[ radio_button_category['category_id'] ]]</p>
                        <v-radio
                          v-for="(radio_button, index_radio_button) in radio_button_category['buttons']"
                          :key="radio_button['button_id']"
                          :label="`${result.radio_button_categories[index_radio_category].buttons[index_radio_button].button_id}`"
                          :value="`${result.radio_button_categories[index_radio_category].buttons[index_radio_button].button_id}`"
                        ></v-radio>

                      </v-radio-group>
                    </v-col>
                    <v-col
                    cols="12"
                    md="6"
                    >
  
                      <div
                        v-for="(text_input_category, index_text_input_category) in tool_set.text_input_categories"
                        :key="text_input_category['category_id']"
                      >
                        <p>[[ text_input_category.category_id ]]</p>
                        <v-textarea
                          v-for="(text_input, index_text_input) in text_input_category['text_inputs']"
                          :key="text_input['text_input_id']"
                          v-model="result.text_input_categories[index_text_input_category].text_inputs[index_text_input].message"
                          :label="`${result.text_input_categories[index_text_input_category].text_inputs[index_text_input].text_input_id}`"
                        ></v-textarea>
    
                      </div>



                    </v-col>

                  </v-row>
                  
                  <!-- Slider -->
                  <div
                    v-for="(slider_input_category, index_slider_input_category) in tool_set.slider_input_categories"
                    v-if=tool_set.slider_input_categories
                    :key="slider_input_category['category_id']"
                  >
                    <p>[[ slider_input_category.category_id ]]</p>
                    <v-row
                      v-for="(slider_input, index_slider_input) in slider_input_category['slider_inputs']"
                    >
                      <!-- It looks like pairs of two sliders but it's not. -->
                      <!-- For each slider one of either an image or fade slider will be rendered. -->
                      <!-- From the flicker app there are 2 image and 1 fade slider. -->
                      <!-- The loop will loop 3 times and each time render the appropriate slider below. -->

                      <!-- Image Slider if that is the slider type -->
                      <v-slider
                        v-if="result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].label.search('Image') != -1"
                        v-model="result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].value"
                        prepend-icon="mdi-opacity"
                        direction=""
                        :min="`${result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].min}`"
                        :max="`${result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].max}`"
                        :label="`${result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].label}`"
                      ></v-slider>
                      <!-- Fade Slider if that is the slider type -->
                      <v-slider
                        v-if="result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].label.search('Fade') != -1"
                        v-model="result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].value"
                        prepend-icon="mdi-opacity"
                        direction=""
                        :min="`${result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].min}`"
                        :max="`${result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].max}`"
                        :label="`${result.slider_input_categories[index_slider_input_category].slider_inputs[index_slider_input].label}`"
                        @input="fadeImages"
                      ></v-slider>
                    </v-row>
                  </div>              
                    

                  <v-btn
                    class="mr-4"
                    @click="submit"
                  >
                    submit
                  </v-btn>
                  <v-btn @click="clear">
                    clear
                  </v-btn>


                </v-form>

              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <slider-chart :rgb_values=ROI_avg_intensities></slider-chart>
              </v-col>

            </v-row>

            <v-slider
              v-if="collection"
              v-model="current_image_index"
              v-on:change="reloadDisplayOfCanvases" 
              :min="0"
              :max="collection.length - 1"
              show-ticks="always"
              tick-size="4"
            ></v-slider>
            <v-text-field
              label="Current Image Index"
              hide-details="auto"
              v-model="current_image_index"
              v-on:input="reloadDisplayOfCanvases" 
              type="number"
            ></v-text-field>
            <p>current_image_index: [[ current_image_index ]]</p>

          </v-container>
      </v-main>
    </v-app>
</div>

{% endblock %}



{% block js_scripts %}

<script>

var slider_app =new Vue({
    el: '#slider_app',
    vuetify: new Vuetify(),

    data: () => ({
      app: "slider",
      dataReady: false,
      user: "{{ task.user }}",
      list_name: "{{ task.list_name }}",
      current_deck: [], // all images
      current_image_index: 0, // index of the current image in collection of deck
      time_point_message: "Time Point 1",
      //showImage1: "", 
      borderImage1: "5px solid green",
      //showImage2: "none", 
      borderImage2: "5px solid red",
      collection: null, // [{image_id: null, base64: null}, ...],
      classes_for_images: [],
      ROI_avg_intensities: [],
      ROI : {x_min:150, y_min:150, x_max:300, y_max:300},
      task: null,
      tool_set: null,
      result: null, // copy of tool set to store results
      alert_info: null,
      alert_error: null
    }),

    delimiters: ['[[',']]'],

    async mounted() {
      configuration = await this.getConfiguration()
      this.DNS = configuration.DNS;
      this.SSL = configuration.SSL;
      this.IMAGES_DB = configuration.IMAGES_DB;
      this.DB_PORT = configuration.DB_PORT;
      this.HTTP_PORT = configuration.HTTP_PORT;
      this.ADMIN_PARTY = configuration.ADMIN_PARTY;
      this.USER_INFO = configuration.USER_INFO;
      await this.getTask(this.app, this.user, this.list_name);
      if (this.task.value.completed){
        this.alert_info = "This task is completed"
        setTimeout(()=>{this.alert_info = null}, 2000)
        setTimeout(()=>{window.location.replace(this.URLS.taskList);}, 2000)
      }else{
        await this.getImageList();
        this.getTools(this.app, this.task.value.tool_set)
        // Need to get image slider list so we can get collection to display based on current_idx
        await this.loadImages(current_idx=this.task.value.current_idx);
        this.dataReady = true;    
        // Wait for DOM update so we can access canvas elements
        this.$nextTick(() =>{
          this.reloadDisplayOfCanvases()
          // Initialize ROI sensing
          this.senseROICreation()
        })
        document.addEventListener('keydown', function(event) {
          // Note: You need either a bind() method attached to the regular function or
          //       you need to user an arrow function to keep "this" referring to the 
          //       vue instance versus the function itself.
          //       I'm using bind for a little more "obvious" readability
          this.respondToKeyboardInput(event);
        }.bind(this)); // Look above for the explaination of why I'm using .bind(this)
      }
    },
    computed: {
      // General
      URLS() {
          return {
              configuration: "/configuration",
              sliderApp: `${this.SSL===true ? 'https' : 'http'}://${this.DNS}:${this.HTTP_PORT}/sliderApp/${this.user}/${this.list_name}`,
              getTask: `${this.SSL===true ? 'https' : 'http'}://${this.DNS}:${this.HTTP_PORT}/get_task/${this.app}/${this.user}/${this.list_name}`,
              taskList: `${this.SSL===true ? 'https' : 'http'}://${this.DNS}:${this.HTTP_PORT}/tasksList`,
              getToolSet: `${this.SSL===true ? 'https' : 'http'}://${this.DNS}:${this.HTTP_PORT}/get_toolset`,
              getImageList: `${this.SSL===true ? 'https' : 'http'}://${this.DNS}:${this.HTTP_PORT}/get_image_slider_lists`,
              taskResult: `${this.SSL===true ? 'https' : 'http'}://${this.DNS}:${this.HTTP_PORT}/task_result`,
          }
      },
      styles_for_images() {
        var styles = []
        this.collection.forEach((v,i,a)=>{
          style = `{ border: borderImage${v.index}`
          styles.push(style)
        })
        return styles
      },
    },

    methods: {
      async getConfiguration() {
        // https://dmitripavlutin.com/javascript-fetch-async-await/
        const response = await fetch('/configuration');
        if (!response.ok) {
            const message = `An error has occured: ${response.status}`;
            throw new Error(message);
        }
        const configuration = await response.json();
        return configuration;
      },
      async getTask(app, user, list_name) {
        console.log("getTask")
        const response = await fetch(this.URLS.getTask);
        const data = await response.json();
        if (data.rows.length === 1){
          this.task = data.rows[0]
        }else{
          data.rows.forEach((v,i,a)=>{
            if(v['id'] === this.user+"-"+this.list_name){
              this.task = v
            }
          })
        }
      },
      async getImageList() {
        console.log("getImageList")
        let CA = this; // slider App Vue Object
        const response = await fetch(this.URLS.getImageList+`?key=${this.list_name}`)
        const data = await response.json()
        if (data.rows.length === 1){
          this.current_deck = data.rows[0].value.list
          if (this.current_deck.length === 0){
            this.alert_error = "Image list has no elements."
            setTimeout(()=>{this.alert_error = null}, 2000)
          }
        }else{
          alert("more than one task or less than 1 task...debug...")
        }
      },
      async loadImages(current_idx) {
        console.log('loadImages')
        this.collection = []
        let initial_avg_intensities = []
        for(let i=0; i<this.current_deck[current_idx].length; i++) {
          // populate classes array
          this.classes_for_images[i] = "imageHidden"
          initial_avg_intensities[i] = 0
          // get image metadata
          v = this.current_deck[current_idx][i]
          collection_image = {image_id: v, base64: null, index:i}
          this.collection.push(collection_image)
          await this.getBase64DataOfImageFromCouch(collection_image.image_id, collection_index=i)
        }
        this.ROI_avg_intensities[0] = initial_avg_intensities
        this.ROI_avg_intensities[1] = initial_avg_intensities
        this.ROI_avg_intensities[2] = initial_avg_intensities
      },
      async getTools(app, tool_set) {
        console.log("getTools")
        const response = await fetch(this.URLS.getToolSet + `/${app}/${tool_set}`);
        const data = await response.json();
        if (data.rows.length === 1){
          // Store tool_set and make results object to match
          var tool_set = data.rows[0].value.tools
          var result = JSON.parse(JSON.stringify(data.rows[0].value.tools));
          this.result = result; 
          this.tool_set = tool_set;
        }else{
          this.alert_error = "Can't find specified tool set"
          setTimeout(()=>{this.alert_error = null}, 2000)
        }
      },
      async getBase64DataOfImageFromCouch(image_id, collection_index) {
        var url = `${this.SSL===true ? 'https' : 'http'}://${this.DNS}:${this.HTTP_PORT}/get_image/${image_id}`
        let SA = this; // slider App Vue Object
        let I_ID = image_id;
        let P_INDEX = collection_index;
        await fetch(url)
          .then(response => {
            return response.text();
          })
          .then(data => {
            DATA='data:image/png;base64,' + data
            SA.collection[P_INDEX]['base64'] = DATA
          })
      },
      respondToKeyboardInput(event){
        if (event.key === 'ArrowLeft') {
          // Arrow Left key pressed and cycle right
          if(this.current_image_index === 0) {
            this.current_image_index = this.collection.length - 1
          } else {
            this.current_image_index -= 1
          }
        } else if (event.key === 'ArrowRight') {
          // Arrow Right key pressed and cycle left
          if(this.current_image_index === this.collection.length - 1) {
            this.current_image_index = 0
          } else {
            this.current_image_index += 1
          }
        } else if (event.key === 'ArrowUp') {
          this.calculate_roi_intensities()
        }
        this.reloadDisplayOfCanvases()
      },
      calculate_roi_intensities(){
        // Define ROI
        //var ROI = {x_min:150, y_min:150, x_max:300, y_max:300}
        var ROI = this.ROI
        // Access pixel information for a specific pixel (x, y)
        //// Note img.width*img.height*channels is the length of pixels
        //// Pixels is a flattened array of 4 channels
        //// Below is breaking that array into 4 pieces to get the individual channels
        // Note imagine 4 grids like this:
        //              x (512)
        //          0123456...
        //         0*********************
        //         1*********************
        //         2*********************
        // y (512) 3*********************
        //         4*********************
        //         5*********************
        //         6*********************
        //         .
        //         .
        //         .
        // here r00 is the red pixel at (x,y) = (0,0)
        // here g00 is the green pixel at (x,y) = (0,0)
        // here b00 is the blue pixel at (x,y) = (0,0)
        // here a00 is the alpha pixel at (x,y) = (0,0)
        // [r00,g00,b00,a00,r10,g10,b10,a10,...
        //  r01,g01,b01,a01,r11,g11,b11,a11,...
        //  r02,g02,b02,a02,r12,g12,b12,a12] - pixels
        rai_list = []
        gai_list = []
        bai_list = []
        for(let i=0; i<this.collection.length; i++){
          // For each image
          var canvas = document.getElementById(`myCanvas_${i}`);
          var context = canvas.getContext('2d');
          // Get the pixel data
          var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
          var pixels = imageData.data;
          avg_intensities = this.calculate_avg_intensities_by_pixels(pixels, ROI, canvas) 
          // this is supposed to be all red or all green...fix
          // Vue2 needs special update so child component slider-chart updates
          rai = avg_intensities.r_ROI_avg_intensity
          gai = avg_intensities.g_ROI_avg_intensity
          bai = avg_intensities.b_ROI_avg_intensity
          rai_list.push(rai)
          gai_list.push(gai)
          bai_list.push(bai)
        }
        console.log(rai_list)
        console.log(gai_list)
        console.log(bai_list)
        Vue.set(this.ROI_avg_intensities, 0, rai_list)
        Vue.set(this.ROI_avg_intensities, 1, gai_list)
        Vue.set(this.ROI_avg_intensities, 2, bai_list)
      },
      calculate_avg_intensities_by_pixels(pixels, ROI, canvas){
        var r_pixels = []
        var g_pixels = []
        var b_pixels = []
        var a_pixels = []
          for(let x=ROI.x_min; x<ROI.x_max; x++){
            for(let y=ROI.y_min; y<ROI.y_max; y++){
              var red_pixel_value = pixels[(y * canvas.width + x) * 4];
              var green_pixel_value = pixels[(y * canvas.width + x) * 4 + 1];
              var blue_pixel_value = pixels[(y * canvas.width + x) * 4 + 2];
              var alpha_pixel_value = pixels[(y * canvas.width + x) * 4 + 3];
              r_pixels.push(red_pixel_value)
              g_pixels.push(green_pixel_value)
              b_pixels.push(blue_pixel_value)
              a_pixels.push(alpha_pixel_value)
            }
          }
          // def avg function
          const average = array => array.reduce((a, b) => a + b) / array.length;
          r_ROI_avg_intensity = average(r_pixels)
          g_ROI_avg_intensity = average(g_pixels)
          b_ROI_avg_intensity = average(b_pixels)
          a_ROI_avg_intensity = average(a_pixels)
          return {r_ROI_avg_intensity:r_ROI_avg_intensity,
                  g_ROI_avg_intensity:g_ROI_avg_intensity,
                  b_ROI_avg_intensity:b_ROI_avg_intensity,
                  a_ROI_avg_intensity:a_ROI_avg_intensity}
      },
      reloadDisplayOfCanvases(){
        for(let i=0; i<this.collection.length; i++){
          var base64Data = this.collection[i].base64;
          // Create a new Image object
          var img = new Image();
          // Set the base64 image data as the source
          img.src = base64Data;
          img.width = 512;
          img.height = 512;
          THIS = this;
          var canvas = document.getElementById(`myCanvas_${i}`);
          var context = canvas.getContext('2d');
          canvas.width = img.width;
          canvas.height = img.height;
          // Super tricky but important:
          // Create a closure using an IIFE (Immediately Invoked Function Expression) 
          // to capture the current value of img and context variables for each iteration.
          // This will ensure that the correct image and canvas
          // are used within the onload event handler.
          // Summary:
          // - Need onload as while we set img.src...the image hasn't "loaded" that data.
          //   We need it to load so we use onload.
          // - However even with onload because of async js, the for loop above adds
          //   n number of img.onloads to the evaluation stack and by the time they are
          //   actually evaluated, there is only one "img" and one "context" defined and
          //   all n img.onloads load the same last image onto the last context.
          //   Meaning all canvases are blank except the last one. This is the "closure"
          (function(img, context) {
            img.onload = function() {
              context.drawImage(img, 0, 0);
            };
          })(img, context); // Create a closure with the current img and context
          
        }
        // Load imageROI canvas
        // var canvas = document.getElementById("imageROI");
        // // canvas.style.width = '100%';
        // var context = canvas.getContext('2d');
        // context.beginPath();
        // context.rect(128, 128, 256, 256);
        // context.fillStyle = "rgba(0, 0, 255, 0.25)";
        // context.fill();

        console.log('reloadDisplayOfCanvases')
        this.current_image_index = Number(this.current_image_index)
        deck_size = this.current_deck.length;
        // Cycle to current image
        for(let i=0; i<this.collection.length; i++) {
          // Set up classes for images to show\hide
          if(i === this.current_image_index){
            // https://v2.vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats // Vue.set()...
            Vue.set(this.classes_for_images, i, "imageShown")
          }else{
            // https://v2.vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats // Vue.set()...
            Vue.set(this.classes_for_images, i, "imageHidden")
          }
        }
      },
      senseROICreation(){
        THIS = this

        // Get the canvas element and its 2D drawing context
        const canvas = document.getElementById('imageROI');
        const ctx = canvas.getContext('2d');
        
        // Variables to store mouse position and rectangle data
        let isDrawing = false;
        let startX, startY, endX, endY;
        
        // Event listener for mouse down event
        canvas.addEventListener('mousedown', (event) => {
          isDrawing = true;
          startX = event.offsetX //- canvas.offsetLeft;
          startY = event.offsetY //- canvas.offsetTop;
        });

        // Event listener for mouse move event
        canvas.addEventListener('mousemove', (event) => {
          if (!isDrawing) return;

          // Clear the canvas
          ctx.clearRect(0, 0, canvas.width, canvas.height);

          // Get the current mouse position
          const mouseX = event.offsetX //- canvas.offsetLeft;
          const mouseY = event.offsetY //- canvas.offsetTop;

          // Calculate the width and height of the rectangle
          const width = mouseX - startX;
          const height = mouseY - startY;

          // Draw the rectangle
          ctx.strokeStyle = 'black';
          ctx.strokeRect(startX, startY, width, height);
        });

        // Event listener for mouse up event
        canvas.addEventListener('mouseup', (event) => {
          isDrawing = false;
          endX = event.offsetX //- canvas.offsetLeft;
          endY = event.offsetY //- canvas.offsetTop;

          // Calculate the indices and pixel range
          const minX = Math.min(startX, endX);
          const maxX = Math.max(startX, endX);
          const minY = Math.min(startY, endY);
          const maxY = Math.max(startY, endY);

          THIS.ROI = {x_min:minX, y_min:minY, x_max:maxX, y_max:maxY}
          Vue.set(THIS.ROI, 'x_min', minX)
          Vue.set(THIS.ROI, 'y_min', minY)
          Vue.set(THIS.ROI, 'x_max', maxX)
          Vue.set(THIS.ROI, 'y_max', maxY)
          
          // calculate roi intensities and regenerate graph
          THIS.calculate_roi_intensities()
          
          console.log('Indices:', minX, minY, maxX, maxY);
          console.log('Pixel Range:', maxX - minX, maxY - minY);
        });

      },
      // For the submit form
      submit() {
        //this.$v.$touch() // for uswe with veulidate which you haven't setup for this app
        // this.$refs.form.$el.submit() // Normal submit but we want to send results in a better organized way
        let error = null;
        this.result['radio_button_categories'].forEach((v, i, a) => {
          if (v['selected'] === null){
            error = true
            this.alert_error = "You must make a selection for the radio buttons."
            setTimeout(()=>{this.alert_error = null}, 2000)
          }
        })
        if (!error){
          this.result
          this.result['_id'] = `${this.task.id}-result-image1_${this.collection[0].image_id}-image2_${this.collection[1].image_id}`
          this.result['user'] = this.user
          this.result['list_name'] = this.task.value.list_name
          this.result['app'] = "slider"
          this.result['type'] = "result"
          this.result['taskid'] = this.task.id
          fetch(this.URLS.taskResult, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(this.result)
          })
          .then((response) => response.json())
          .then((data) => {
            window.location.replace(this.URLS.sliderApp);
          })
        }
      },
      // This might be a relect of a copy and paste...don't think this is used
      clear() {
        this.$v.$reset()
        this.user = ''
        this.imageListName = ''
        this.imageListTypeSelect = ''
        this.taskOrder = ''
      },
    },


  })
</script>


{% endblock %}