<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Vuetify CDN Sources-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        

        <!-- Custom CSS -->
        <!-- <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet"> -->
        {% block custom_css %}{% endblock %}
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">

    </head>

    <body>
        <!-- Vue JS sources -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        

        <!-- Below is for other templates to fill in -->
        {% block content %}{% endblock %}
        
        <!-- <script src="{{ url_for('static', filename='js/queryStringParser.js') }}"></script> -->
        {% block js_scripts %}{% endblock %}

    </body>

</html>