<!-- TEMPLATE -->
{% extends "vuetify_components/base.html" %}

<!-- TITLE -->
{% block title %}Image Comparator{% endblock %}

<!-- CSS -->
{% block custom_css %}
{% endblock %}


<!-- BODY -->
{% block content %}

<!-- Components -->
{% include 'vuetify_components/navbar.html' %}

<!-- Index Vue App -->
<div id="index">
    <v-app>
        <navbar-tag></navbar-tag>
      <v-main>
          <v-container>
            <h2>Welcome to QTIM's Image Comparator and Classifier</h2>
            <h3>Instructions:</h3>
            <ol>
              <li
              v-for="item in items"
              >
                <v-card
                v-if="item.name"
                >
                <v-card-title class="text-h6">
                    [[ item.name ]]
                </v-card-title>
                <v-card-text>
                    <!-- <v-img
                    :src="item.src"
                    width="75%"
                    class="bg-grey-lighten-2"
                    ></v-img> -->
                    <iframe 
                        width="560" 
                        height="315" 
                        :src="item.tutorial_video" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </v-card-text>

                </v-card>
              </li>
            </ol>


          </v-container>
      </v-main>
    </v-app>
</div>


{% endblock %}

{% block js_scripts %}


<script>
    var index =new Vue({
        el: '#index',
        vuetify: new Vuetify(),
        data: () => ({
            items: [
                {
                name: "Sign Up (If enabled | Otherwise you are provisioned an account)",
                src: "", // If you want an image; You'll need to uncomment the image rendering above
                tutorial_video: "https://www.youtube.com/embed/ZhmR0Me0Z34?si=cnyEJTIL1shzdjbj"
                },
                {
                name: "Log In",
                src: "",
                tutorial_video: "https://www.youtube.com/embed/w8pNBqcXC-k?si=K9d3D81y5g5V6Sy1"
                },
                {
                name: "MonaiLabel app",
                src: "", // If you want an image; You'll need to uncomment the image rendering above
                tutorial_video: "https://www.youtube.com/embed/J12VxOWivWM?si=2ALR7G9q1adRUHRT"
                },
                {
                name: "Classify App",
                src: "", // If you want an image; You'll need to uncomment the image rendering above
                tutorial_video: "https://www.youtube.com/embed/LsUm5UGd4dg?si=w8JDy4W_47D0ZiWm"
                },
                {
                name: "Compare App",
                src: "", // If you want an image; You'll need to uncomment the image rendering above
                tutorial_video: "https://www.youtube.com/embed/we0ZvIsEKgk?si=ticlayJ4-yJxrPZc"
                },
                {
                name: "Flicker App",
                src: "", // If you want an image; You'll need to uncomment the image rendering above
                tutorial_video: "https://www.youtube.com/embed/vH4WA_gEh3s?si=dYd0_dw7ZKCW542y"
                },
                {
                name: "Slider App",
                src: "", // If you want an image; You'll need to uncomment the image rendering above
                tutorial_video: "https://www.youtube.com/embed/OHr3_OASoZk?si=bE519ohoWkZkjsy7"
                }
                
            ],
        }),
        delimiters: ['[[',']]'],
        async mounted() {
            configuration = await this.getConfiguration()
            this.DNS = configuration.DNS;
            this.SSL = configuration.SSL;
            this.COUCH_DB = configuration.COUCH_DB;
            this.DB_PORT = configuration.DB_PORT;
            this.HTTP_PORT = configuration.HTTP_PORT;
            this.ADMIN_PARTY = configuration.ADMIN_PARTY;
            this.USER_INFO = configuration.USER_INFO;
        },
        computed: {
            // General
            URLS() {
                return {
                    configuration: `/configuration`
                }
            },
        },
        methods: {
            async getConfiguration() {
                // https://dmitripavlutin.com/javascript-fetch-async-await/
                const response = await fetch(this.URLS.configuration);
                if (!response.ok) {
                    const message = `An error has occured: ${response.status}`;
                    throw new Error(message);
                }
                const configuration = await response.json();
                return configuration;
            },
        }
    })
</script>

{% endblock %}