/* BB - Widen the container for larger pictures */
@media screen and (min-width: 1200px) {
  #image0 {
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: "";
  }
}

#full_screen_note, #image_name {
  color: white;
}

.btn.btn-primary {
  display: block;
}

/* Magnifying Glass */
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}