<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gridAnnotationChange">gridAnnotationChange</button>

<!-- Modal -->
<div class="modal fade" id="gridAnnotationChange" tabindex="-1" role="dialog" aria-labelledby="gridAnnotationChangeLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="gridAnnotationChangeLabel">Grid Annotation Change</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<h2 class="page-header">Choices:</h2>
				<input type="checkbox" id="normal" name="normal" value="normal">
				<label for="normal"> Normal (0)</label>
				<br>
				<input type="checkbox" id="ABV" name="ABV" value="ABV">
				<label for="ABV"> ABV (1)</label>
				<br>
				<input type="checkbox" id="GSP" name="GSP" value="GSP">
				<label for="GSP"> GSP (2)</label>
				<br>
				<input type="checkbox" id="HSP" name="HSP" value="HSP">
				<label for="HSP"> HSP (3)</label>
				<br>
				<input type="checkbox" id="RP" name="RP" value="RP">
				<label for="RP"> RP (4)</label>
				<br>
				<input type="checkbox" id="other_checkbox" name="other_checkbox" value="other_checkbox">
				<label for="other_checkbox"> Other (5)</label>
				<br>
				<input type="checkbox" id="nabothian_cyst" name="nabothian_cyst" value="nabothian_cyst">
				<label for="nabothian_cyst"> Nabothian Cyst (6)</label>
				<br>
				<input type="checkbox" id="excessive_reflections" name="excessive_reflections" value="excessive_reflections">
				<label for="excessive_reflections"> Exc. Reflections (7)</label>
				<br>
				<input type="checkbox" id="inadequate" name="inadequate" value="inadequate">
				<label for="inadequate"> Inadequate (8)</label>
				<br>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>